*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

/*--- Informações ---*/
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#titulo{
    color:white;
    text-align: center;
    margin-top: 8vh;
}
/*-- PLANETAS --*/
.planetas{
    display: flex;
    flex-wrap: wrap;
}
.planeta{
    width: 140px;
    height: 140px;
    background-repeat:no-repeat;
    background-size: cover;
}

.hutta{
    background-image: url(../img/hutta.png);  
}
.taris{
    background-image: url(../img/taris.png);
}
.balmorra{
    background-image: url(../img/balmorra.png);
}
.belsavts{
    background-image: url(../img/belsavts.png);
}
.corellia{
    background-image: url(../img/corellia.png);
}
.coruscant{
    background-image: url(../img/coruscant.png);
}
.dromund{
    background-image: url(../img/dromund.png);
}
.hoth{
    background-image: url(../img/hoth.png);
}
.nar-shaddaa{
    background-image: url(../img/nar-shaddaa.png);
}
.ilum{
    background-image: url(../img/ilum.png);
}
.korriban{
    background-image: url(../img/korriban.png);
}
.ord-mantell{
    background-image: url(../img/ord-mantell.png);
}
.quesh{
    background-image: url(../img/quesh.png);
}
.tatooine{
    background-image: url(../img/tatooine.png);
}
.tython{
    background-image: url(../img/tython.png);
}
.voss{
    background-image: url(../img/voss.png);
}


.animate {
    animation-name: girando;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 
 @keyframes girando {
    from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }


/*-- BOTÃO --*/
.botao{
    border: 0;
    border-radius: 4px;
    background: white;
    padding: 10px;
}