*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}

/*--- Informações ---*/
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

#titulo{
    color:white;
    text-align: center;
    margin-top: 8vh;
}
/*-- PLANETAS --*/
.planetas{
    display: flex;
}
.planeta{
    
}
.hutta{
    width: 140px;
    height: 140px;
    background-image: url(../img/hutta.png);
    background-repeat:no-repeat;
    background-size: cover;
    transition: 4s linear; 
   /* transform: rotate(45deg);*/
    -webkit-transform: rotate(45deg);
}

.animate {
    animation-name: girando;
    animation-duration: 10s;
    animation-iteration-count: infinite;
     animation-timing-function: linear;
 }
 
 @keyframes girando {
    from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }

/*.taris{
    width: 180px;
    height: 180px;
    background-image: url(../img/Taris.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.balmorra{
    width: 180px;
    height: 180px;
    background-image: url(../img/balmorra.png);
    background-repeat:no-repeat;
    background-size: cover;
}*/




/*-- BOTÃO --*/
.botao{
    border: 0;
    border-radius: 4px;
    background: white;
    padding: 10px;
}